@model ProductApps.Models.Product


<div id="product-details">
    <p>
        <strong>Product</strong>
        @Model.ProductName
    </p>
    <p>
        <strong>Price</strong>
        @String.Format( "{0:F}" , @Model.Price )
    </p>


</div>









